.postPosition
{
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 20px;
	font-weight: 200;

}
.namePosition
{
	color: #B1AED4;
	font-family: 'Exo', sans-serif;
	font-size: 30px;
	font-weight: 200;
	
}
.postPlace
{
	
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
}
